body {
    background-color: maroon;
}

#nav {
    padding-top: 50px;
    font-size: 35px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
	color: white;
}

.content {
	text-align: center;
}





/* unvisited link */

a:link {
    text-decoration: none;
    color: black;
}
/* visited link */

a:visited {
    text-decoration: none;
    color: cyan;
}
/* mouse over link */

a:hover {
    text-decoration: none;
    color: red;
}
/* selected link */

a:active {
    text-decoration: none;
    color: hotpink;
}
.button {
    background-color: #4CAF50;
    /* Green */
    
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}
.button5:hover {
    background-color: #555555;
    color: white;
}